body {
    background-color: #345ca5;
}



header {
    background-color: #36ff0e7a;
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    user-select: none;

}

.flex-container {
    display: flex;
    justify-content: space-around;
}

a {
    margin-top: 50px;
    text-decoration: none;
    height: 550px;
    width: 400px;
}

.select-page {
    border: 1px solid #cccccc;
    height: 550px;
    width: 400px;
    opacity: 20%;
    text-decoration: none;
    border-radius: 15px;
    transition: opacity ease-out 0.2s;
    -webkit-transition: opacity ease-out 0.2s;
    -moz-transition: opacity ease-out 0.2s;
    -ms-transition: opacity ease-out 0.2s;
    -o-transition: opacity ease-out 0.2s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
}

/*

HOVERING

*/

.estudiante-asistencia {
    background: rgb(52,92,165);
    background: linear-gradient(31deg, rgba(52,92,165,1) 0%, rgba(94,183,249,0.6519608527004552) 100%);
}

.estudiante-asistencia:hover {
    opacity: 100%;
    box-shadow: 0 0 10px black;
    background: rgb(52,92,165);
    background: linear-gradient(31deg, rgba(52,92,165,1) 0%, rgba(94,183,249,0.6519608527004552) 100%);
    transition: opacity box-shadow ease-in-out 0.6s;
    -webkit-transition: opacity box-shadow ease-in-out 0.6s;
    -moz-transition: opacity box-shadow ease-in-out 0.6s;
    -ms-transition: opacity box-shadow ease-in-out 0.6s;
    -o-transition: opacity box-shadow ease-in-out 0.6s;
}

.estudiante-curso {
    background: rgb(52,92,165);
    background: linear-gradient(31deg, rgba(52,92,165,1) 0%, #63fa0cb0 100%);
}

.estudiante-curso:hover {
    opacity: 100%;
    box-shadow: 0 0 10px black;
    background: rgb(52,92,165);
    background: linear-gradient(31deg, rgba(52,92,165,1) 0%, #63fa0cb0 100%);
    transition: opacity box-shadow ease-in-out 0.6s;
    -webkit-transition: opacity box-shadow ease-in-out 0.6s;
    -moz-transition: opacity box-shadow ease-in-out 0.6s;
    -ms-transition: opacity box-shadow ease-in-out 0.6s;
    -o-transition: opacity box-shadow ease-in-out 0.6s;
}

.estudiante-libro {
    background: rgb(52,92,165);
    background: linear-gradient(31deg, rgba(52,92,165,1) 0%, rgba(250, 246, 0, 0.76) 100%);
}

.estudiante-libro:hover {
    opacity: 100%;
    box-shadow: 0 0 10px black;
    background: rgb(52,92,165);
    background: linear-gradient(31deg, rgba(52,92,165,1) 0%, rgba(250, 246, 0, 0.76) 100%);
    transition: opacity box-shadow ease-in-out 0.6s;
    -webkit-transition: opacity box-shadow ease-in-out 0.6s;
    -moz-transition: opacity box-shadow ease-in-out 0.6s;
    -ms-transition: opacity box-shadow ease-in-out 0.6s;
    -o-transition: opacity box-shadow ease-in-out 0.6s;
}

@keyframes opacityAndShadow {
    0% {
        box-shadow: 0 0 1px black;
        opacity: 20%;
    }

    100% {
        box-shadow: 0 0 10px black;
        opacity: 100%;
    }
}

/*

END HOVERING

*/

h2 {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    user-select: none;
    font-size: 24pt;
    text-align: center;
    margin-right: 20px; margin-left : 20px;
    text-decoration: none;
}
