<!DOCTYPE html>
<html lang="es" id="*TITULO*_html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relación MODIFICAR TITULO</title>
    <link rel="stylesheet" href="./relations.css">
    <link rel="stylesheet" href="../normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
    <div name="PARA APLICAR EN EL BACKGROUND DEL BODY">
        <h1>estudiante-asistencia</h1>
        <b>background: rgb(52,92,165);
            background: linear-gradient(31deg, rgba(52,92,165,1) 0%, rgba(94,183,249,0.6519608527004552) 100%);</b>
        
        <h1>estudiante-curso</h1>
        <b>background: rgb(52,92,165);
            background: linear-gradient(31deg, rgba(52,92,165,1) 0%, #63fa0cb0 100%);</b>

        <h1>estudiante-libro</h1>
        <b>background: rgb(52,92,165);
            background: linear-gradient(31deg, rgba(52,92,165,1) 0%, rgba(250, 246, 0, 0.76) 100%);</b>

    </div>

    <header class="header-relacion" id="header">
        <h1>Relación <span class="relacion">*TITULO*</span></h1>
    </header>

    <form action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']); ?>" method="POST">
        <input type="" placeholder="" name="" class="input-color-1" required>
        <input type="" placeholder="" name="" class="input-color-1" required>
        <input type="submit" value="Enviar" class="submit">
    </form>
</body>
</html>