.flex-container {
    display: flex;
    justify-content: space-around;
    text-align:center;

}

.flex-item {
    /*background-color: rgb(255, 0, 0);
    Identificadordeitem*/margin-top: 40px;
    display: inline;
    text-align:center;
    width: 300px;
    border: #cccccc 1px solid;
    background-color: #111d33;
    transition: ease-out background-color 0.5s;
    -webkit-transition: ease-out background-color 0.5s;
    -moz-transition: ease-out background-color 0.5s;
    -ms-transition: ease-out background-color 0.5s;
    -o-transition: ease-out background-color 0.5s;
}

.flex-item input {
    width: 25%;
    height: 40px;
    background-color: rgb(163, 163, 163);
    color: #35383D;
    border: none;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15pt;
    text-align: center;
    margin-bottom: 50px;
}

.checkbox {
    width: 70px;
    height: 70px;
    margin: auto;

}

/*

HOVERING

*/

#asistencias {
    transition: color ease-out 0.3s;
    color: white;
    -webkit-transition: color ease-out 0.3s;
    -moz-transition: color ease-out 0.3s;
    -ms-transition: color ease-out 0.3s;
    -o-transition: color ease-out 0.3s;
}

#asistencias:hover {
    transition: color ease-in 0.3s;
    color: #62FA0C;
    -webkit-transition: color ease-in 0.3s;
    -moz-transition: color ease-in 0.3s;
    -ms-transition: color ease-in 0.3s;
    -o-transition: color ease-in 0.3s;
}

#estudiantes {
    transition: color ease-out 0.3s;
    color: white;
    -webkit-transition: color ease-out 0.3s;
    -moz-transition: color ease-out 0.3s;
    -ms-transition: color ease-out 0.3s;
    -o-transition: color ease-out 0.3s;
}

#estudiantes:hover {
    transition: color ease-in 0.3s;
    color: #faf600;
    -webkit-transition: color ease-in 0.3s;
    -moz-transition: color ease-in 0.3s;
    -ms-transition: color ease-in 0.3s;
    -o-transition: color ease-in 0.3s;
}

#libros {
    color:white;
    transition: color ease-out 0.3s;
    -webkit-transition: color ease-out 0.3s;
    -moz-transition: color ease-out 0.3s;
    -ms-transition: color ease-out 0.3s;
    -o-transition: color ease-out 0.3s;
}

#libros:hover {
    color:#F819FA;
    transition: color ease-in 0.3s;
    -webkit-transition: color ease-in 0.3s;
    -moz-transition: color ease-in 0.3s;
    -ms-transition: color ease-in 0.3s;
    -o-transition: color ease-in 0.3s;
}

#cursos {
    color: white;
    transition: color ease-out 0.3s;
    -webkit-transition: color ease-out 0.3s;
    -moz-transition: color ease-out 0.3s;
    -ms-transition: color ease-out 0.3s;
    -o-transition: color ease-out 0.3s;
}

#cursos:hover {
    color: #FAC60C;
    transition: color ease-in 0.3s;
    -webkit-transition: color ease-in 0.3s;
    -moz-transition: color ease-in 0.3s;
    -ms-transition: color ease-in 0.3s;
    -o-transition: color ease-in 0.3s;
}

.flex-item:hover {
    background-color: #213966;
    transition: ease-in background-color 0.5s;
    -webkit-transition: ease-in background-color 0.5s;
    -moz-transition: ease-in background-color 0.5s;
    -ms-transition: ease-in background-color 0.5s;
    -o-transition: ease-in background-color 0.5s;
}

/*



*/

.container-submit {
    margin-top: 40px;
    text-align: center;

}

.submit {
    font-family: 'Noto Sans', sans-serif;
    border: none;
    outline: none;
    width: 120px;
    height: 50px;
    background-color: rgb(200, 200, 200, 0.5);
    color: white;

}

.submit:active {
    transform: translate(0px, 5px) ;
    -webkit-transform: translate(0px, 5px) ;
    -moz-transform: translate(0px, 5px) ;
    -ms-transform: translate(0px, 5px) ;
    -o-transform: translate(0px, 5px) ;
 }
 

body {
    background-color: #111d33;
}

.titles {
    display: flex;
    justify-content: space-around;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    user-select: none;
    font-size: 17pt;
}   

header {
    background-color: #0e93ff67;
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    user-select: none;

}

.valid {
    color: #16ff0e;
}

.invalid {
    color:#e2500d;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[type=number] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield; 
}

.log {
    margin-left: 80px;
    margin-top: 40px;
    margin-right: 80px;
    border: 1px solid #cccccc;
}

.log h2 {
    margin-left: 50px;
    margin-right: 50px;
}

.generator-message {
    font-family: 'Noto Sans', sans-serif;
    margin-left: 130px;
    margin-top: 20px;
    color: white;
}

.select_page {
    border: 1px solid #cccccc;
 
}